################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VirusTotal_Scanner
/VirusTotal_Library/.vs
/VirusTotal_Scanner/.vs
/VirusTotal_Scanner/bin/Debug/VirusTotal_Cfg.ini
/VirusTotal_Scanner/bin/Debug/VirusTotal_Cfg.ini
